@model MovieRecord

@{
    ViewData["Title"] = "Get to Know Joel";
}


<div>
    <h1>Get to Know Joe</h1>
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="Baconsale">QuickWitsComedy</a> @* I need this somewhere on the page *@</li>
        <li><a asp-area="" asp-controller="Home" asp-action="Baconsale">Baconsale</a> @* I need this somewhere on the page *@</li>
        <li>
            <a asp-controller="Home" asp-action="Baconsale">
                <img src="/img/baconsale_img.jpg" alt="Baconsale Photo"/>
            </a>
        </li>
    </ul>
    
    
</div>
